{% extends "base.html" %}
{% block content %}

    <h1>Mendeleev app</h1>

    <div class="row" style="max-width: 1000px;">

    <form name="prop_select" method='GET'>

      <div class="form-group col-md-4">
        <label>Property:</label>
        <select class="form-control" name="prop">
            {% for key, value in properties.items() %}
                <option {% if propselected==key %} selected="selected"{% endif %} value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Color by:</label>
        <select class="form-control" name="colorby">
            {% for key, value in categories.items() %}
                <option {% if catselected==key %} selected="selected"{% endif %} value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Colormap:</label>
        <select class="form-control" name="cmap">
            {% for color in colormaps %}
                <option {% if cmapselected==color %} selected="selected"{% endif %} value="{{ color }}">{{ color }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-md btn-success">Show</button>
      </div>

    </form>

    </div>

    {{ plot_div|indent(4)|safe }}

{% endblock %}