{% extends "base.html" %}
{% block content %}


    <div class="row" style="max-width: 800px;margin: 0 auto;min-height: 800px;">

        <h1>Info</h1>

        <p> Author: <a href="http://www.lukaszmentel.com">Łukasz Mentel</a></p>
        <p> version: {{ version }} </p>

        <ul>
          <li>github repo: <a href="http://github.com/lmmentel/mendeleevapp">github.com:lmmentel/mendeleevapp.git</a></li>
          <li>documentation: in progress</li>
        </ul>

        <h2> Local installation </h2>
        <p>
        If you would like to try the app locally clone the repository

        <pre>git clone git@github.com:lmmentel/mendeleevapp.git</pre>

        </p>

        <h2> Dependencies </h2>

        <ul>
          <li>flask</li>
          <li>gunicorn</li>
          <li>bokeh</li>
          <li>numpy</li>
          <li>pandas</li>
          <li>mendeleev</li>
        </ul>

        <p>If you want to run it locally then I recommend installing <a href="https://www.theforeman.org/"><code>foreman</code></a> too.</p>

        <h2> Data </h2>

        <p>
        The data used here is available through the <a href="http://mendeleev.readthedocs.io/en/stable/">mendeleev</a> python package that
        contains <a href="https://www.sqlite.org/">SQLite</a> database with properties of elements, ions and isotopes. If you want to know
        more about the data sources take a look at the <a href="http://mendeleev.readthedocs.io/en/stable/data.html">documentation of mendeleev data<a/>.
        </p>

    </div>

{% endblock %}
